.DS_Store
__pycache__/
*.pyc
data_collector/__pycache__/
data_collector/.env
.venv/
logs/
data_platform/storage/raw/json/bestsellers
data_platform/storage/raw/json/products/
data_platform/storage/raw/json/products/*
data_platform/storage/raw/*
*code-workspace
data_collector/.env.bak*
data_collector/.env.*.bak*
.deploy-bak/

